@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h6 class="display-6">@ViewData["Title"]</h6>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
