@using Northwind.EntityModels
@model LoginModel

@{
    string title = "Login";
    ViewData["Title"] = title;
}
<h1 class="display-4">@title</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert-danger p-2">@ViewBag.ErrorMessage</div>    
}
<br />
<form class="row g-3" asp-action="Index" asp-controller="Login" method="post">
    <div class="row m-2">
        <div class="col">
            <input type="text" class="form-control" asp-for="Username" placeholder="Username" aria-label="Username">
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <input type="password" class="form-control" asp-for="Password" placeholder="Password" aria-label="Password">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <input type="hidden" asp-for="Password" value="0">
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <input type="submit" id="registerSubmit" class="btn btn-primary" style="width: fit-content;" value="Login" aria-label="Submit button">
        </div>
    </div>
</form>